PORT=3001
CORS_ORIGIN=http://localhost:5173
SCRAPE_INTERVAL_MS=30000
UPSTREAM_URL=https://konkanrailway.com/VisualTrain/otrktp0100Table.jsp
NODE_ENV=development
CONTACT_EMAIL=sanketbobhate07@gmail.com
